body {
margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video{
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,.5)
}

.espacio  {  
  overflow:hidden;
  margin:20px auto;
  display:block;
  color: blue;
  border-radius: 30%;
  background-color: black;
}

.col-6{
  width: 100%;
  height: 70%;
  padding-top: 0%;
}

#text-area {
 display: block;
 width: 100%;
 overflow: hidden;
 resize: both;
 min-height: 40px;
 line-height: 20px;
max-height: 60px;
 border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;

}

  
